Repository LeonIvovic/PI-Projekt, pull requests merged in 2023-03, with the labels that each got.

#19 Changes to player movement
  Assets/Scripts/PlayerMovement.cs
  Assets/Scripts/PlayerMovementData.cs
Labels: gameplay, player

#20 Level 1 baza
  .vscode/settings.json
  Assets/Scenes/Level 1.unity
  Assets/Scripts/EndDetectionObjectDestroyer.cs
  Assets/Scripts/EndDetectionObjectDestroyer.cs.meta
  Assets/Scripts/GroundSpawner.cs
  Assets/Scripts/PlayerLeftSideBoundaries.cs
  Assets/Scripts/PlayerLeftSideBoundaries.cs.meta
  ProjectSettings/TagManager.asset
Labels: gameplay, feature, view

#21 Dodan level generator
  Assets/Prefabs.meta
  Assets/Prefabs/Ground1.prefab
  Assets/Prefabs/Ground1.prefab.meta
  Assets/Prefabs/Ground2.prefab
  Assets/Prefabs/Ground2.prefab.meta
  Assets/Scenes/Level 1.unity
  Assets/Scenes/Level 2.unity
  Assets/Scenes/Level 2.unity.meta
  Assets/Scripts/LevelElement.cs
  Assets/Scripts/LevelElement.cs.meta
  Assets/Scripts/LevelGenerator.cs
  Assets/Scripts/LevelGenerator.cs.meta
  ProjectSettings/TagManager.asset
  UserSettings/EditorUserSettings.asset
  UserSettings/Layouts/CurrentMaximizeLayout.dwlt
  UserSettings/Layouts/default-2021.dwlt
Labels: feature, level design

#24 Ma level1 platforms adjustment
  Assets/Scenes/Level 1.unity
  Assets/Scripts/GroundSpawner.cs
  ProjectSettings/ProjectVersion.txt
  UserSettings/EditorUserSettings.asset
Labels: gameplay, level design

#25 Ma level1 ground prefabs
  Assets/Prefabs/Level1.meta
  Assets/Prefabs/Level1/Ground1.prefab
  Assets/Prefabs/Level1/Ground1.prefab.meta
  Assets/Prefabs/Level1/Ground2.prefab
  Assets/Prefabs/Level1/Ground2.prefab.meta
  Assets/Prefabs/Level1/Ground3.prefab
  Assets/Prefabs/Level1/Ground3.prefab.meta
  Assets/Scenes/Level 1.unity
  Assets/Scenes/Level 2.unity
  Assets/Scripts/GroundSpawner.cs
  ProjectSettings/ProjectVersion.txt
  UserSettings/EditorUserSettings.asset
  UserSettings/Layouts/default-2021.dwlt
Labels: gameplay, level design
